consignment-pricing-ml/
│
├── data/
│   └── Consignment_pricing_raw.csv    # Dataset
├── notebooks/
│   └── consignment_pricing.ipynb      # Jupyter Notebook
├── models/
│   └── random_forest.pkl              # Trained Random Forest model
│   └── xgboost.pkl                    # Trained XGBoost model
├── requirements.txt                   # Dependencies for the project
├── README.md                          # Project documentation
├── LICENSE                            # Project license
